<div class="columns-bg">
    <!-- Logo & Intro -->
    <section id="logo" class="tm-section-logo">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-6">
            <div class="tm-site-name-container">
              <div class="tm-site-name-container-inner">
                <h1 class="text-uppercase tm-text-primary tm-site-name">
                  JOAQUIN ROJAS
                </h1>
                <p class="tm-text-primary tm-site-description">
                  Programador Jr 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Intro -->
    <section id="intro" class="tm-p-1-section-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="tm-section-text-container">
              <i class="tm-text-white">
                <p class="mb-0">
                  Me llamao Joaquin Rojas Edgardo tengo actualmente 27 años y me dedico a estudiar angular .</p>
              </i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our Place -->
    <section id="our_place">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-left-container">
            <img src="../imagenes/esta.png" />
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="tm-section-text-container-2">
              <h2
                class="tm-text-primary tm-section-title-mb tm-sm-bg-white-alpha"
              >
                Juego Propio : Block Ball
              </h2>
              <div class="tm-text-gray">
                <p class="mb-4">
                   Explicacion:
                   
                  </p>
                <p class="mb-0">
                    El juego consiste en deribar la mayor cantidad de ladrillos posibles, sin que toque la pelota el piso, se juega con dos flechas para poder mover una barra , la cual tiene como objetivo q la pelota no toque el piso .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
