/*

Sided Template

https://templatemo.com/tm-527-sided



    Primary color         #99ccff
    Primary bright color  #3399FF
    Gray bg               #f6f6f6
    Dark Gray bg          #eeeeee
*/

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.tm-bg-white-alpha {
  background-color: rgba(255, 255, 255, 0.5);
}

.tm-bg-black-alpha {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-gray {
  background-color: #f6f6f6;
}

.tm-bg-dark-gray {
  background-color: #eeeeee;
}

h2 {
  font-size: 1.4rem;
}

p {
  line-height: 1.7;
}

.tm-text-white {
  color: white;
}

.columns-bg {
  background-image: linear-gradient(
    to right,
    #2b3138,
    #222427 50%,
    #ffffff 50%
  );
}

.container-fluid {
  max-width: 1310px;
}

.tm-section-logo {
  padding-top: 170px;
  padding-bottom: 0;
}

.tm-section-logo-short {
  padding-top: 100px;
}

.tm-p-1-section-1 {
  margin-bottom: 80px;
}

#our_place {
  padding-top: 70px;
  padding-bottom: 70px;
}

.tm-section-4 {
  padding-top: 70px;
  padding-bottom: 70px;
}

#gallery {
  padding-top: 115px;
  padding-bottom: 110px;
}

.tm-section-contact {
  padding-top: 110px;
  padding-bottom: 90px;
}

#outro {
  padding-top: 90px;
}

#footer {
  padding-top: 30px;
  padding-bottom: 55px;
}

.tm-bg-primary {
  background-color: #222427;
}

.tm-text-primary {
  color: #222427;
}

.tm-text-primary-bright {
  color: #222427;
}

.tm-hr-primary-bright {
  border-color: #222427;
}

.tm-hr-white {
  border-color: white;
}

.tm-text-secondary {
  color: #999999;
}

.tm-text-gray {
  color: #656565;
}

.tm-text-accent {
  color: #222427;
}

.tm-section-title-2 {
  font-size: 1.8rem;
  text-align: right;
}

.tm-section-title-underline {
  border-top: 1px solid black;
  max-width: 500px;
  margin-right: 0;
  width: 85%;
}

.tm-site-name-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #222427;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-site-name-container-inner {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.tm-site-name {
  font-size: 3.5rem;
  font-weight: 600;
}

.tm-site-description {
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.tm-section-text-container {
  padding: 0 50px;
}

.tm-section-text-container-2 {
  padding: 20px 55px 30px;
  max-width: 640px;
}

.tm-section-text-container-3 {
  padding: 64px 68px;
}

.tm-section-col-4 {
  margin-right: 0;
  margin-left: auto;
}

.tm-section-text-container-4 {
  padding: 40px 55px 0;
}

.tm-footer-text-container {
  padding: 0 70px;
}

.tm-section-text-container-5 {
  max-width: 430px;
  padding-right: 85px;
  margin-right: 0;
  margin-left: auto;
}

.tm-section-text-container-6 {
  padding: 0 55px 60px;
}

.tm-section-text-container-8 {
  padding: 64px 68px;
}

.tm-section-title-mb {
  margin-bottom: 30px;
}

.tm-section-title-mb-2 {
  margin-bottom: 50px;
}

.tm-img-right {
  margin-left: -1px; /* to fix 1 px gap in Chrome */
}

.tm-img-left-container,
.tm-text-left-container {
  padding-right: 0;
}

.tm-img-right-container {
  padding-left: 0;
}
